/* body {
    background-color: teal;
} */

#main {
    min-height: 100vh; /* height of the browser viewport */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hostname {
    border: dimgray solid 4px;
}

input {
    text-align: center;
}

nav {
    background-color: #aa35b5;
}

.navbar {
    background-color: #22A8C2;
}

/*
h1 {
    text-decoration: underline;
    text-decoration-color: white;
} */